body{
  
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   


   .container{
    width: 70%;
    margin: 30px;
    padding: 30px;
    height: 85%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;

   }

   h3{
    text-align: center;
    font-size: 28px;
    padding: 10px;
    
   }

   .form{
  display: block;
  padding:20px 0px 20px 0px;
  margin-left: 0;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  font-size: 17px;
   }

   .input-box{
    padding: 10px 0px 20px 0px;
    display: grid;
    grid-template-columns: 4fr 1fr ;
    height: 30px;
   

   

   }

   .input-box *{

    outline: none;
   
    padding:  10px ;
    font-size: 15px;
    border-radius: 0px;
    columns: 3fr 1fr;
    border: 1px solid rgb(0, 0, 0);


   }

   .first-input{
    margin-right: 10px;
   }



   li{
    list-style-type: none;
    margin-right: 10px;
    margin-left: 0px;

   }

   button{
 
 background-color: #0d3d5fc3;
      border: none;
      font-size: 17px;
      color: white;
      padding: 7px 12px;
      font-weight: normal;
      margin: 6px 0;
      margin-right: 12px;
      display: inline-block;
      text-decoration: none;
      font-family: 'Open Sans', sans-serif;
      min-width: 120px;
    
   }

   .list{
    display: grid;
    grid-template-columns: 1fr 8fr 2fr ;
    
   }